@page "/Meu ContatoGab"

<h5> Meu Contato</h5>

<div class="contato">
    <p>
        Nome: Gabriel Wendreos Strege Portechel.
    </p>
    <p>
        Email: GabPort@gmail.com
    </p>
    <p>
        Telefone: +55 (69) 99877-4454
    </p>
</div>

<style>
    .contato {
        width: 300px;
        height: 200px;
        background-color: blue;
        border-radius: 15px;
        color: white;
        padding: 10px;
    }
</style>