@page "/CurriculoEman"

<h1>Meu Currículo</h1>

<div class="curriculo">

    <h2>Emanuel Rufino de Sá.</h2>
    <p><b>Email:</b> emanuelfblff@email.com</p>
    <p><b>Telefone:</b> (69) 99379-4198</p>
    <p><b>Cidade:</b> Ji-Parana - RO</p>

    <hr />

    <h3>Sobre Mim</h3>
    <p>
        Estudante de informática cursei robótica, tenho experiencias na area de vendas, futuro empreendedor.
    </p>

    <h3>Formação</h3>
    <p>Em formação...</p>

    <h3>Habilidades</h3>
    <ul>
        <li>C#</li>
        <li>Grau</li>
        <li>My SQL</li>
    </ul>

</div>
