@page "/historiaEli"

<div class="pagina-inicial">
    <div class="secao-banner">
        <div class="banner-principal">
            <div class="texto-banner">
                <p>
                    Minha caminhada começa em <strong>Nova Londrina</strong>, aqui em Ji-Paraná. Cada quilômetro que percorro até o campus do 
                    <strong>IFRO</strong> carrega muito mais do que apenas o trajeto físico; carrega o peso do meu esforço para dominar 
                    um mundo que, no início, parecia distante. A rotina tranquila do distrito sempre foi meu porto seguro, mas o 
                    dinamismo dos sistemas e códigos me mostrou que minha mente poderia ir muito além dos limites geográficos da nossa região.
                </p>
                <br />
                <p>
                    Viver essa realidade me ensinou o que nenhum livro de algoritmo ensina: a resiliência. Entre conexões de internet 
                    que teimavam em cair e noites atravessadas depurando erros, entendi que a distância não é um muro, mas uma ponte que 
                    eu mesmo estou construindo. O IFRO me entregou as ferramentas, mas a determinação de provar que o talento de Rondônia 
                    tem calibre para competir globalmente nasceu da minha própria vivência.
                </p>
                <br />
                <p>
                    Hoje, ao olhar para o diploma que se aproxima, não vejo apenas o fim de um curso, mas o início de uma nova fase. 
                    O código que escrevo hoje no meu quarto em Nova Londrina tem o poder de impactar desde o agronegócio local até 
                    grandes centros em qualquer lugar do planeta. Sou o Eliezer, e estou pronto para transformar essa paixão por bits em 
                    soluções reais, provando que a tecnologia não tem fronteiras para quem sabe onde quer chegar.
                </p>
                
                <div style="margin-top: 3rem;">
                    <a href="/" class="cartao-destaque a" >Voltar ao início</a>
                </div>
            </div>
        </div>
    </div>
</div>
